textarea {
    resize:none;
    border: 2px solid #FFFFFF;
    background-color: #272B37;
    color: white;
    padding: 10px;
}



.form-item input{
    margin: 10px 0;
    border: 1px solid #AAAAAA;
    background-color: #272B37;
    color: white;
    width: 160px;
    height: 24px;
    padding-left: 5px;
}

.form-main{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.form-confirm{
    display:flex;
    justify-content: space-between;
    margin-top:8px;
}

.form-item{
    display:flex;
    flex-direction: column;
}

.error{
    color: rgb(231, 1, 1);
}

.checkbox input{
   width: 14px;
   height: 14px;
   margin-left: 0;
   margin-right: 10px;
}

.checkbox{
    display:flex;
}


.checkbox .small-text-contacts{
    margin-right: 5px;
}

.confirm{
    background-color: #DA184C;
    border: none;
    color:white;
    font-weight: bold;
    font-size: 24px;
    width: 175px;
}

.form-answer{
    display:flex;
    justify-content: center;
    height: 232px;
}