@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

.contacts{
    background-color: #272B37;
    padding: 30px 0px;
}

.contacts_wrapper{
    max-width: 70%;
    margin: 0 auto;
    max-width: 1080px;
    display:flex;
    flex-direction: column;
    color:#FFFFFF;
}
.contacts-main_text{
    font-weight: bold;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 24px;
}


.contacts-main{
    display:grid;
    grid-template-columns: 40% 60%;
}

.contacts-main_info_mail{
    display:flex;
}

.contacts-main_info_items{
  display:flex;
  align-items:center;
  margin: 10px 10px 10px 0;
  color:#AAAAAA;
}
.contacts-main_info_mail span{
    margin: 0 5px;
}

.contacts-main-avatar svg{
    width: 150px;
    height: 150px;
    margin-right: 20px;
};
.contacts-main-avatar{
    width: 150px;
    height: 150px;
};


.contacts-main_avatar_text{
    display: flex;
    flex-direction: column;
}

.contacts-main_avatar_text div:nth-child(1){
    margin-top: 30px;
}

.small-text-contacts{
    color:#FFFFFF;
    font-size: 14px;
}

.medium-text-contacts{
   font-family: "Roboto",sans-serif;
   font-weight: 700;
   font-size: 20px;
}

.big-text-contacts{
    font-size: 18px;
    font-weight: 400;
}